<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-card class="">
    <table class="table table-dark table-borderless table-striped  shadow-lg p-3 mb-5 bg-body rounde ">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">E-mail</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
            <th scope="col">Acessar Alugueis</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of clientes| paginate: { itemsPerPage: 8, currentPage: paginaAtual }; let i = index " >
            <td>{{obj.id}}</td>
            <td>{{obj.nome}}</td>
            <td>{{obj.cpf| cpf }}</td>
            <td>{{obj.email}}</td>
            <td>{{obj.dataN}}</td>
            <td>
              <button mat-raised-button color="primary" routerLink="/clientes/update/{{obj.id}}"  ><i class="material-icons icon-excluir" >edit</i></button>

            </td>
            <td>
              <button mat-raised-button color="warn" (click)="openDialog(obj.id)"  ><i class="material-icons icon-excluir" >highlight_off</i></button>
            </td>
            <td>
              <button mat-raised-button color="accent" routerLink="/alugueis/read-unico/{{obj.id}}"  ><i class="material-icons icon-excluir" >fact_check</i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="paginaAtual = ($event)"></pagination-controls>
</mat-card>   

