<mat-sidenav-container  >
    <mat-sidenav class="sidenav pos" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list" >
            <a mat-list-item >
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item class="menu">
                <i class="material-icons">
                    paid
                </i>
                Conversor
            </a>
            <a   mat-list-item >
                <i class="material-icons">
                    logout
                </i>
                Logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
         <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>