<mat-sidenav-container  >
    <mat-sidenav class="sidenav pos" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list" >
            <a mat-list-item routerLink="/home" >
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item class="menu" routerLink="/clientes">
                <i class="material-icons">
                    person_outline
                </i>
                Cliente
            </a>
            <a mat-list-item class="menu" routerLink="carros">
                <i class="material-icons">
                    directions_car
                </i>
                Carros
            </a>
            <a mat-list-item class="menu" routerLink="alugueis">
                <i class="material-icons">
                    request_quote
                </i>
                Aluguéis
            </a>
            <a   mat-list-item >
                <i class="material-icons">
                    logout
                </i>
                Logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
         <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>