<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-card class="">
    <table class="table table-dark table-borderless table-striped  shadow-lg p-3 mb-5 bg-body rounde ">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Placa</th>
            <th scope="col">Preço/dia</th>
            <th scope="col">Cor</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of carros" >
            <td>{{obj.id}}</td>
            <td>{{obj.marca}}</td>
            <td>{{obj.placa}}</td>
            <td>{{obj.preco| currency:'BRL'}}</td>
            <td>{{obj.cor}}</td>
            <td>
              <button mat-raised-button color="primary" routerLink="/carros/update/{{obj.id}}"><i class="material-icons icon-excluir" >edit</i></button><!--Coloquei um routerLink na rota correta-->
            </td>
            <td><button mat-raised-button color="warn" ><i class="material-icons icon-excluir" >highlight_off</i></button></td>
          </tr>
        </tbody>
      </table>
</mat-card>   