
<mat-card>
    
    <mat-card-title>Cadastrar Aluguel</mat-card-title>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>({{aluguel.cliente.cpf}}) {{aluguel.cliente.nome}}</mat-label>
            <mat-select [(ngModel)]="idCliente" name="idCliente">
              <mat-option *ngFor="let obj of clientes" [value]="obj.id">
                ({{obj.cpf}}) {{obj.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{aluguel.carro.marca}}({{aluguel.carro.placa}})</mat-label>
            <mat-select [(ngModel)]="idCarro" name="idCarro">
              <mat-option *ngFor="let obj of carros" [value]="obj.id">
                {{obj.marca}} ( {{obj.placa}} )
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Entre com a data</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="Data Saída" [(ngModel)]="aluguel.dataSaida" name="dataSaida">
              <input matEndDate placeholder="Data Entrega" [(ngModel)]="aluguel.dataEntrega"  name="dataEntrega">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancelar</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Aplicar</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
        
    </form>
</mat-card>


<button (click)="updateAlugueis()" mat-raised-button color="accent">
    Salvar
</button>


<button (click)="cancel()" mat-raised-button color="warn">
    Cancelar
</button>