


.cardlogin{
    background-color:rgb(255, 255, 255);
    text-align:center;
    
}

.container{
    margin-top: 120px;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button{
    margin-top: 15px;
}
.campo{
    margin-right: 20px;
}

.campo2{
    margin-left: 30px;
}