<mat-card>
    <mat-card-title>Alterar Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput type="text" placeholder="Nome" [(ngModel)]="cliente.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="CPF" [(ngModel)]="cliente.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput  type="email" placeholder="E-mail" [(ngModel)]="cliente.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Senha" [(ngModel)]="cliente.senha" name="senha">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" placeholder="Data de Nascimento" [(ngModel)]="cliente.dataN" name="dataN">
        </mat-form-field>
    </form>
</mat-card>


<button (click)="updateCliente()" mat-raised-button color="accent">
    Salvar
</button>


<button (click)="cancel()" mat-raised-button color="warn">
    Cancelar
</button>