/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    background-image: url("/assets/pasjpg.jpg");
    background-size: cover;
    

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



