<mat-card>
    <mat-card-title>Cadastrar Carros</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput type="text" placeholder="Marca" [(ngModel)]="carro.marca" name="marca">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Placa" [(ngModel)]="carro.placa" name="placa">
        </mat-form-field>
        <mat-form-field>
            <input matInput  type="text" placeholder="Preço(R$)" [(ngModel)]="carro.preco" name="preco">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Cor" [(ngModel)]="carro.cor" name="cor">
        </mat-form-field>
    </form>
</mat-card>


<button (click)="createCarro()" mat-raised-button color="accent">
    Salvar
</button>


<button (click)="cancel()" mat-raised-button color="warn">
    Cancelar
</button>